@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <hr/>
    <button class="btn btn-primary btn-manage-users"><a asp-controller="Details" asp-action="Index">Manage Users</a></button>
</div>
